.text {
color: black;
width: auto;
height: auto;
text-align: justify-all;
padding: 10px;
font-size: 28px;
font-family: "Arial Black";
    

    

}


.default {
    background-color:bisque;
    
    
}

.text2 {
color: black;
font-family: "Arial Black";
font-size: 20px;
background-color: lightblue;    
width: 100px;
height: auto;
border-radius:25px;
padding: 10px;
margin: auto;   
    
}

.space {
    
    height: 40px;

}


.img {
    width: 180px;
    height: 220px;
    
    
    
}